* {
  box-sizing: border-box;
}

#question {
  height: 100%;
  width: 100%;
}

.header {
  height: 28vh;
  min-height: 28vh;
  max-height: 28vh;
  text-align: center;
  background: linear-gradient(to bottom, #BBDEFB, white);
  position: relative;

  .right {
    z-index: 103;
    height: 14vh;
    position: absolute;
    top: -2vh;
    right: -10px;
  }
  .left {
    z-index: 102;
    position: absolute;
    height: 25vh;
    top: 0;
    left: 14px;
  }
  > .title {
    z-index: 101;
    display: inline-block;
    font-size: 3vh;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 1px;
    background-image: url("../assets/img/img_balloon.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    height: 28vh;
    width: calc(100vw - 14vh - 6vh - 5vh);
    left: 6vh;
    margin-left: 14vh;
    margin-top: 2.4vh;
    padding-left: 8vh;
    padding-top: 2vh;
    position: absolute;
    > pre {
      display: inline-block;
      white-space: pre-wrap;
    }
  }
  > .nav {
    z-index: 100;
    text-align: center;
    background-image: url("../assets/img/img_cloud_stage_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 19vh;
    left: -2%;
    width: 16vw;
    height: 18vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    color: #1E88E5;

    > .title {
      font-size: 3.5vh;
      font-weight: 600;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    > .subtitle {
      font-size: 2vh;
      font-weight: 500;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.content {
  height: calc(100% - 48vh);
  display: flex;
  align-items: center;
  padding: 2vh 3vw;

  > .content-left {
    flex: 20;
    font-size: 4.8vh;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 1.2px;
    max-width: 45%;
    pre {
      white-space: pre-wrap;
    }
  }
  > .line {
    flex: 1;
    height: 46vh;
    border-left: #E0E0E0 solid 3px;
  }
  > .center {
    flex: 20;
    font-size: 2.2vh;
    // font-weight: 600;
    line-height: 1.2em;
    height: 90%;
    width: 96%;
    position: relative;

    .stamp {
      z-index: 201;
      height: 36vh;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation-name: ban;
      animation-duration: .5s;
      transition-timing-function: ease-in;
    }
  }
  > .content-right {
    flex: 2;
    height: 50vh;
    > img {
      background-size: contain;
    }
  }
  textarea {
    width: 96%;
    height: 46vh;
    font-size: 4.5vh;
    border-radius: 5px;
    border: #EEEEEE solid 2px;
    padding: 1vw;
    resize: none;
    background-color: #FAFAFA;

    &:focus {
      outline: none;
    }
  }
}

.footer {
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(rgba(0,0,0,0), #FFFDE7 50%);
  > .right {
    height: 16vh;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 8px;
  }
  > .left {
    height: 14vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 8px;
  }
}

.button {
  z-index: 200;
  height: 18vh;
  position: absolute;
  transform: translateX(-50%);
  left: 45.5%;
  cursor: pointer;
  bottom: 0px;
  margin-bottom: 3.5vh;
  &:hover {
    opacity: 0.8;
    transform: translate(-50%, -4%);
    transition: .8s;
  }
}
